.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  border: 1px solid black;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #101010;
  color: white;
  font-weight: 500;
  margin-top: -80px;
  opacity: 0.8;
}

.header2{
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
 
}

.logo{
  height: 50px;
}

.footer{
  height: 300px;
  width: 100%;
  background-color: rgb(54, 155, 189);
  display: flex;
  justify-content: space-evenly;
}

.footer div{
  line-height: 40px;
  text-align: left;
  margin-top: 60px;
}

.footerlogo{
  height: 45px;
  width: 140px;
  margin-bottom: 20px;
}

.footer p{
color: white;
}

.footer h1{
  font-size: 18px;
  font-weight: 500;
}

.footers{
  background-color: rgb(54, 155, 189);

}

.MPT-header{
  height: 250px;
  background-color: rgb(54, 155, 189);
  margin-top: 70px;
  color: white;
}
.MPT-header>h1{
  font-size: 45px;
  font-weight: 500;
}

.MPT-div2{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  font-size: 20px;
}

.MPT-div3{
  
  width: 80%;
  margin: auto;
}

.Trainers{
  display: flex;
  gap: 30px;
  height: 320px;
  margin-top: 40px;
}

.Trainers1{
  width: 40%;
}

.Trainers2{
  text-align: left;
  font-size: 20px;
  width: 80%;
}
.Trainers2>h1{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.Trainers2>p{
  font-size: 18px;
}

.Timage{
  height: 100%;
  border-radius: .5rem;
}
.Tbutton{
  margin-top: 20px;
}

.Theading{
  font-size: 34px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}

.MPT-div4{
  margin-top: 30px;
  border: 1px solid white;
}
.MPTquestions{
display: flex;
width: 80%;
margin: auto;
gap: 40px;
text-align: left;
align-items: center;
}

.MPTquestions>h1{
  font-size: 60px;
  font-weight: 700;
  color: rgb(221, 221, 221);
}

.MPTquestions>p{
  font-size: 20px;
}

.MPT-div5>h1{
font-size: 35px;
font-weight: 650;
margin-top: 100px;
}

.MPT-div5-1{

  background-color: rgb(240, 240, 240);
  padding: 3rem;
}

.MPT-div5Box{

  margin-top: 30px;
}

.MPT-box1{
  height: 100px;
  background-color: #14aa4d;
  border: 1px solid white;
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.Medal{
  font-size: 32px;
  margin-top: 20px;
  color: white;
}

.usd{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.usd>h1{
font-size: 70px;
}

.usd>p{
  font-size: 30px;
}
.usd>h2{
  margin-bottom: -40px;
}

.MPTsimplegrid{
  width: 90%;
  margin: auto;
}

.saved{
  font-size: 15px;
  color: rgb(211, 203, 203);
}

.MPT-box2{
background-color: rgb(245, 245, 245);
}

.MPT-box3{
  text-align: left;
  padding: 2rem;
  background-color: white;
  font-size: 20px;
}

.MPT-box4{
  background-color: white;
  align-items: center;
  padding: 1rem;
}


.BAPAdiv{
  height: 500px;
  padding: 6rem;
  font-size: 22px;
  line-height: 50px;
}
.BAPAdiv>img{
  height: 100px;
  margin: auto;
}

.Buttonsdiv{
  height: 300px;
  padding: 7rem;
  background-color: rgb(233, 229, 229);
}

.Buttonsdiv1{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  
}
.Buttonsdiv1>button{
  width: 50px;
  height: 60px;
  background-color: white;
  border-radius: 5px; 
  font-size: 35px;
  font-weight: 700;
}
.Buttonsdiv,.Buttonsdiv1>h1{
  font-size: 20px;
}

.Exercises{
  border: 1px solid black;
  height: 200px;
  margin-top: 80px;
}

